/* inputs */

.input {
    padding: 1.5rem 3rem;
    border: 1px solid  var(--cor-borda);
    border-radius: 30px;
    outline: 0;
    color: var(--cor-headings);
}

.input::placeholder {
    color: var(--cor-borda);
}

.input-group {
    border: 1px solid var(--cor-borda);
    border-radius: 30px;
    display: flex;
    
}

.input-group .input {
    border: 0;
    flex-grow: 1;
}

.input-group .btn {
    margin: 4px;
}